<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org/">

<head th:insert="fragments/head :: head"></head>

<header th:replace="fragments/header :: header"></header>
<br>
<div class="row">
    <div class="login__container container p-4 col-10 col-lg-5">
        <div class="logo__container">
            <img src="/img/favicon.jpg" alt="" width="60">
            <p>STARBUCKS® REWARDS</p>
        </div>
        <p>Ingresa a tu cuenta Pizzeria Rewards para ganar estrellas con tus compras y canjearlas por tus productos favoritos</p>

        <form th:action="@{/login}" method="post">
            <div class="input__div">
                <label for="emails">Correo electrónico:</label>
                <div class="respuestas">
                    <input id="emails" type="email" required placeholder="example@mail.com">
                </div>
            </div>
            <div class="input__div">
                <label for="passwords">Contraseña:</label>
                <div class="respuestas">
                    <input id="passwords" type="password" required placeholder="*******">
                </div>
            </div>
            <br>
            <div class="submit__div">
                <input type="submit" value="Iniciar sesión" name="btnIniciar">
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>